[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
flask = "*"
flask_cors = "*"
gunicorn = "*"
keras = "*"
lxml = "*"
requests = "*"
selenium = "*"
tensorflow = "*"
toml = "*"

[dev-packages]
codecov = "*"
ipython = "*"
pycodestyle = "*"
pydocstyle = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"

[scripts]
launch = "gunicorn -b 0.0.0.0:5000 -w 4 server.server:app"
