[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
toml = "*"
keras = "*"
tensorflow = "*"
selenium = "*"
bs4 = "*"

[dev-packages]
codecov = "*"
ipython = "*"
pycodestyle = "*"
pydocstyle = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
