.App {
    padding: 3em;
}
.centered {
    text-align: center
}
.text-generator-input {
    margin-top: 2em;
    margin-bottom: 2em;
}
.text-generator-form {
    width: 100%;
}
.result-container {
    background-color: #F5F5F5;
    padding: 3em;
}